body {
    background-color: #cccccc;
}


h1 {
    color: #7899ff;
    font-size: 50px;
}
h2 {
    color: #345699;
    font-size: 40px;
}
h3, h5 {
    color: rgb(3, 34,49);
    font-size: 30px;
}

p {
    color: #dc143c;
    font-size: 18px;
}

img {
    width: 300px;
    height: 200px;
    
}